language: swift
os: osx
osx_image: xcode11.3
xcode_workspace: FSNotes.xcworkspace

before_install:
    - pod install --repo-update

env:
    - SCHEME=FSNotes SDK=macosx
    - SCHEME="FSNotes iOS" SDK=iphonesimulator

script: xcodebuild -workspace FSNotes.xcworkspace -scheme "$SCHEME" build -sdk $SDK ONLY_ACTIVE_ARCH=NO -UseModernBuildSystem=NO -quiet

branches:
    only: [master]
